<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main">
      <h1>Hello Backend World!</h1>
      <div>
        Increasing this :
        <p id="val"></p>
      </div>

      <button id="btnPress">Press Me</button>
    </div>
  </body>
  <script src="/js/test.js"></script>
</html>
